.up-silde-enter {
    opacity: 0;
    transform:translateY(30%);
}
.up-silde-leave-to {
    opacity: 0;
    transform:translateY(30%);
}
.up-silde-enter-active, 
.up-silde-leave-active {
    transition: .3s 
}

.silde-enter {
    opacity: 0;
    transform: translateY(-50%);
}
.silde-enter-active,
.silde-leave-active {
    transition: .3s;
}
.silde-leave-to {
    opacity: 0;
    transform: translateY(-50%);
}

.drop-down-enter {
    opacity: 0;
}
.drop-down-enter-active,
.drop-down-leave-active {
    transition: .2s;
}
.drop-down-leave-to {
    opacity: 0;
}

.fade-in-enter {
    opacity: 0;
    transform: translateY(20%)
}
.fade-in-leave-to {
   opacity: 0;
   transform: translateY(20%)
}
.fade-in-enter-active, 
.fade-in-leave-active {
    transition: .3s 
}
.fade-out-enter {
    opacity: 0;
    transform: translateY(-20%)
}
.fade-out-leave-to {
   opacity: 0;
   transform: translateY(-20%)
}
.fade-out-enter-active, 
.fade-out-leave-active {
    transition: .3s 
}

.fade-enter {
    opacity: 0;
}
.fade-leave-to {
    opacity: 0;
 }
.fade-enter-active, 
.fade-leave-active {
    transition: .3s 
}

.slide-flex-left-enter {
    opacity: 0;
    transform: translateX(-100%);
}
.slide-flex-left-leave-to {
    opacity: 0;
    transform: translateX(-100%);
 }
.slide-flex-left-enter-active, 
.slide-flex-left-leave-active {
    transition: .3s 
}

.slide-flex-right-enter {
    opacity: 0;
    transform: translateX(100%);
}
.slide-flex-right-leave-to {
    opacity: 0;
    transform: translateX(100%);
 }
.slide-flex-right-enter-active, 
.slide-flex-right-leave-active {
    transition: .3s 
}

@keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
