//color
$--cat-color-primary: #403BEF;
$--cat-color-info: #333333;
$--cat-color-success: #27D2D0;
$--cat-color-danger: #FF336A;
$--cat-color-disabled: #CCCCCC;

$--cat-color-blue: #0077FF;
$--cat-color-yellow: #FFC047;
$--cat-color-black: #000000;
$--cat-color-black-opacity-1: rgba($--cat-color-black, .1);
$--cat-color-black-opacity-4: rgba($--cat-color-black, .4);
$--cat-color-black-opacity-8: rgba($--cat-color-black, .8);

$--cat-color-text-title: #666666;
$--cat-color-text-primary: #999999;

//font
$--cat-font-size-base: 12px;
