//color
$--color-primary: #403BEF;
$--color-info: #333333;
$--color-success: #27D2D0;
$--color-danger: #FF336A;
$--color-disabled: #CCCCCC;

$--color-white: #FFFFFF;
$--color-blue: #0077FF;
$--color-yellow: #FFA250;
$--color-yellow-opacity-8: rgba($--color-yellow, .8);
$--color-black: #000000;
$--color-black-opacity-1: rgba($--color-black, .1);
$--color-black-opacity-2: rgba($--color-black, .2);
$--color-black-opacity-4: rgba($--color-black, .04);
$--color-black-opacity-5: rgba($--color-black, .05);
$--color-black-opacity-8: rgba($--color-black, .8);

$--color-text-title: #666666;
$--color-text-primary: #999999;
$--color-brightness-base: brightness(90%);

//radius
$--radius-base: 2px;
$--radius-switch: $--radius-base * 2.5;
$--radius-icon: $--radius-base * 2;
$--radius-panel: $--radius-base * 5;
$--radius-round: $--radius-base * 6.5;
$--radius-circle: 50%;

//font
$--font-size-base: 12px;
$--font-size-large: 20px;
$--font-size-icon-base: 16px;

$--font-weight-base: 400;
$--font-weight-bold: 800;

$--line-height-base: 1em;
$--line-height-muti: 16px;

//shadow
$--box-shadow-grey: 0px 2px 8px 0px rgba(0, 0, 0, .05);
$--box-shadow-panel: 0px 2px 36px -5px rgba(64,59,239,.5);
$--box-shadow-hover: 0px 3px 8px -1px rgba(64,59,239,.5);
$--box-shadow-hover-success: 0px 2px 8px 0px rgba(39,210,208,.5);
$--box-shadow-hover-warning: 0px 2px 8px 0px rgba(255,162,80,0.5);;
$--box-shadow-hover-danger: 0px 2px 8px 0px rgba(255,51,106,.5);

//transition
$--transition-base: all .3s cubic-bezier(.645,.045,.355,1);
$--transition-primary: all .2s cubic-bezier(.645,.045,.355,1);

// 控件篇
//button
$--button-font-size: $--font-size-base;
$--button-padding-vertical: 7px;
$--button-padding-horizontal: 16px;
$--button-radius: $--radius-base;
$--button-radius-round: $--radius-round;

$--button-primary-color: $--color-white;
$--button-primary-fill: $--color-info;
$--button-primary-border: $--button-primary-fill;

$--button-primary-fill-hover: $--color-text-title;
$--button-primary-border-hover: $--button-primary-fill-hover;

$--button-primary-fill-disabled: $--color-disabled;
$--button-primary-border-disabled: $--button-primary-fill-disabled;


$--button-default-color: $--color-info;
$--button-default-fill: $--color-white;
$--button-default-border: $--color-info;

$--button-default-fill-hover: $--color-black-opacity-1;
$--button-default-border-hover: $--color-info;

$--button-default-color-disabled: $--color-disabled;
$--button-default-border-disabled: $--color-disabled;

//radio
$--radio-font-size: 12px;
//radio-button
$--radio-button-font-size: $--radio-font-size;
$--radio-button-radius: $--radius-icon;
$--radio-button-padding: 6px;

$--radio-button-checked-fill: $--color-primary;
$--radio-button-checked-color: $--color-white;
$--radio-button-checked-border-color: $--color-primary;

$--radio-button-unchecked-fill: $--color-white;
$--radio-button-unchecked-color: $--color-info;
$--radio-button-unchecked-border-color: $--color-black-opacity-1;

//popover
$--popover-fill: $--color-white;
$--popover-box-shadow: $--box-shadow-grey;
$--popover-padding: 20px 30px 10px 30px;
$--popover-color: $--color-text-title;
$--popover-font-size: $--font-size-base;
$--popover-radius: $--radius-panel;

//float-panel
$--float-panel-fill: $--color-white;
$--float-panel-box-shadow: $--box-shadow-panel;
$--float-panel-radius: $--radius-panel;
$--float-panel-padding: 20px;         

// tooltip
$--tooltip-color: $--color-white;
$--tooltip-font-size: $--font-size-base;
$--tooltip-arrow-size: 6px;
$--tooltip-padding: 7px 10px;
$--tooltip-radius: $--radius-base;

$--tooltip-dark-fill: $--color-black-opacity-8;
$--tooltip-dark-border-color: $--tooltip-dark-fill;

$--tooltip-light-fill:$--color-success;
$--tooltip-light-border-color: $--tooltip-light-fill;

// message
$--message-fill:$--color-yellow-opacity-8;
$--message-color: $--color-white;
$--message-shadow: $--box-shadow-hover-warning;
$--message-font-size: $--font-size-base;
$--message-radius: $--radius-icon;
$--message-padding: 8px;
$--message-line-height: $--line-height-muti;
$--message-width: 252px;

//switch
$--switch-background-color: $--color-black-opacity-1;
$--switch-width: 24px;
$--switch-height: 10px;
$--switch-border-radius: $--radius-switch;
$--switch-on-color: $--color-success;
$--switch-off-color: $--color-white;
$--switch-circle-border-radius: $--radius-circle;
$--switch-circle-size: 12px;

//select
$--select-radius: $--radius-icon;
$--select-width: 80px !default;
$--select-height: 26px;
$--select-color: $--color-info;
$--select-font-size: $--font-size-base;
$--select-title-font-size: $--font-size-base;
$--select-title-color: $--color-text-title;

$--select-option-radius: $--select-radius;
$--select-option-border-color: $--color-black-opacity-1 !default;
$--select-option-border-color-active: $--color-primary;
$--select-option-color: $--color-info;
$--select-option-color-active: $--color-primary;
$--select-option-background-color-hover: $--color-black-opacity-4;
$--select-option-item-padding: 7px 10px;

//color-select
$--color-select-option-padding: 4px;
$--color-select-option-size: 20px;

//input //这里的按钮用的是iconblock
$--input-number-title-font-size: $--font-size-base;
$--input-number-title-color: $--color-text-title;
$--input-number-radius: $--radius-icon;
$--input-number-border-color: $--color-black-opacity-1;
$--input-number-border-color-active: $--color-primary;
$--input-number-width: 80px !default;
$--input-number-height: 26px;
$--input-number-color: $--color-info;
$--input-number-padding: 3px 4px;

//pagination
$--pagination-color: $--color-text-primary;
$--pagination-color-current: $--color-info;
$--pagination-font-size: $--font-size-base;

//nav
$--nav-item-color: $--color-text-primary;
$--nav-item-color-hover: $--color-info;
$--nav-item-color-acitve: $--color-info;
$--nav-item-border-active: $--color-primary;
$--nav-border: $--color-black-opacity-5;
$--nav-font-size: $--font-size-base;
$--nav-item-padding: 9px 0;
//特殊~
$--icon-huge-block: 30px;
$--icon-large-block: 26px;
$--icon-small-block: 24px;

//menu-item 彩色底icon+文字 26px
//hover时背景色 darken(背景色, 10%)
$--menu-item-icon-color: $--color-white;
$--menu-item-text-color: $--color-info;
$--menu-item-icon-size: $--font-size-icon-base;
$--menu-item-text-size: $--font-size-base;
$--menu-item-radius: $--radius-round;

$--menu-item-text-color-disabled: $--color-disabled;
$--menu-item-fill-disabled: $--color-disabled;

//tool-item 26px
$--tool-item-fill: $--color-white;
$--tool-item-color: $--color-info;
$--tool-item-icon-size: $--font-size-icon-base;
$--tool-item-text-size: $--font-size-base;
$--tool-item-radius: $--radius-icon;

$--tool-item-color-active: $--color-primary;
$--tool-item-color-disabled: $--color-disabled;
$--tool-item-shadow-hover: $--box-shadow-hover;

$--tool-item-color-success: $--color-success;
$--tool-item-shadow-hover-success: $--box-shadow-hover-success;

$--tool-item-color-danger: $--color-danger;
$--tool-item-shadow-hover-danger: $--box-shadow-hover-danger;

//icon-block 26px
$--icon-block-fill: $--color-white;
$--icon-block-color: $--color-info;
$--icon-block-icon-size: $--font-size-icon-base;
$--icon-block-text-size: $--font-size-base;
$--icon-block-radius: $--radius-icon;

$--icon-block-shadow-hover: $--box-shadow-hover;

$--icon-block-fill-active: $--color-primary;
$--icon-block-color-active: $--color-white;

//icon-circle 30px
$--icon-circle-fill: $--color-white;
$--icon-circle-color: $--color-primary;

$--icon-circle-icon-size: $--font-size-icon-base;
$--icon-circle-radius: $--radius-circle;
$--icon-circle-shadow: $--box-shadow-hover;

$--icon-circle-fill-hover: $--color-primary;
$--icon-circle-color-hover: $--color-white;

//icon-default
$--icon-default-font-size: $--font-size-large;
$--icon-default-color: $--color-info;
$--icon-default-color-hover: $--color-text-title;
$--icon-default-color-disabled: $--color-disabled;

//icon-grey-block 18px
$--icon-grey-block-font-size: $--font-size-base;
$--icon-grey-block-fill: $--color-white;
$--icon-grey-block-color: $--color-info;

$--icon-grey-block-fill-hover: $--color-black-opacity-4;

$--icon-grey-block-color-disabled: $--color-disabled;


//布局篇
$--header-padding: 0 20px;
$--header-height: 62px;
$--header-background-color: $--color-white;